@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-weight: 300;
    letter-spacing: 0.75px;
}

input:focus {
    outline: none;
}